

<div class="container">
	<div class="">

		<section class="col-md-12">
            <br/>
            <h4>Select Account</h4>
            <br/>
			<div class="">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-container">
							<div class="">
                                <div class="row account-details"> 
                                    <div class="col-md-9" style="margin-bottom:25px">
                                        <p class="summary">Account : 2854985-5865</p>
                                        <span class="media-meta pull-right" >Account Type : Saving</span>
                                    </div>
                                
                                    <div class="col-md-3" style="display: flex; justify-content: flex-end;">
                                        <h4 class="title">
                                            Balance  $400
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-12 account-buttons">
                                    <label for="info" class="btn btn-info">Account Info </label>
                                    <label for="success" class="btn btn-success">Make A Payment </label>
                                    <label for="warning" class="btn btn-warning">Settings </label>
                                </div>
                            </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	</div>
</div>